Django
django-environ
psycopg2
djangorestframework
django-polymorphic
django-rest-polymorphic
djangorestframework-simplejwt
django-filter
django-cors-headers
Pillow
django-autoslug
hashids
amqp
celery
kombu
Django==4.2.3
djangorestframework==3.14.0
psycopg2-binary==2.9.3
